<!DOCTYPE html>
<html>
<head>
    <title>Registrar Préstamo</title>
</head>
<body>
    <div>
        <a href= "/">Registrar Prestamo</a> |
        <a href= "/registrar_tipo_prestamo">Registrar Tipo Prestamo</a> |
        <a href= "/registrar_empleado">Registrar Empleado</a> 
    </div>
    <h2>Registrar Préstamo</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Aceptar</button>
    </form>
    
    {% if monto_pagar %}
        <h3>Detalles del Préstamo</h3>
        <p>Monto del Préstamo con Interés: {{ monto_pagar }}</p>
        <h4>Cuotas</h4>
        <ul>
            {% for cuota in cuotas %}
                <li>Cuota {{ forloop.counter }}: {{ cuota.monto_cuota }} (Vencimiento: {{ cuota.cuota_fecha_vencimiento }})</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
